@import '../../utils/scss/variables.scss';

.contacts {
    display: flex;
    gap: 5%;

    &__links {
        text-align: right;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__link {
        text-decoration: none;
        color: $color-white;
        font-size: 3rem;
        text-transform: uppercase;
    }

    &__info {
        max-width: 326px;
        color: $color-green;
        font-size: 24px;
    }
}

@media screen and (max-width: 880px) {
    .contacts {
        flex-direction: column-reverse;
        width: 90%;

        &__links {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 5%;
        }

        &__info {
            max-width: 100%;
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 560px) {
    .contacts {
        &__link {
            font-size: 2rem;
        }
    }
}