// COLOR VARIABLES
$color-dark: #242424;
$color-green: #00C896;
$color-white: #FFFFFF;
$color-white-grey: #E8E8E8;
$color-grey: #D2D2D2;
$color-grey-darker: #C7C7C7;

// FONT VARIABLES
$font-main: 'Noto Looped Thai', sans-serif;

// FONT SIZE
$h1-desktop: 96px;
$h2-desktop: 36px;
$h3-desktop: 20px;
$h1-mobile: 64px;
$h1-fold: 44px;
$h2-fold: 32px;
$h3-fold: 20px;